.button {
    @apply inline-block text-center text-lg	rounded border-2 py-3 px-8 m-1 transition;
    color: var(--release-color);
    border-color: var(--release-color);

    &:hover {
        @apply text-white;
        background-color: var(--release-color);
    }
}