.description {
    @apply flex-grow px-4;

    & > dt {
        @apply relative mb-2;
    }
    
    & > dt > .dt_label {
        @apply relative inline-block pr-4 z-10 uppercase;
        background-color: var(--background-color);
    }
    
    & > dt::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        z-index: 1;
        width: 100%;
        background-color: #666;
        height: 1px;
        display: block;
    }

    & > dd {
        @apply relative mb-8;
    }

    & ul {
        @apply block list-disc mb-4 pl-10;
    }

    & li {
        @apply list-item;
    }

    & a {
        color: var(--release-color);
    }

    & a:hover, 
    & a:focus {
        @apply underline underline-offset-1;
    }
}