.headerBackground {
    /* shift the background image 100px down because of the header */
    @apply mx-auto relative min-h-[55vw] w-full max-w-[1800px] object-cover object-center bg-cover;
    background-position: center calc(50% + 100px);
}

@media (min-width: 768px) { 
    /* center the background image */ 
    .headerBackground { 
        @apply bg-center; 
    }
}


/* add small gradient overlays with custom elements when higher than 1800px */
@media (min-width: 1800px) {
    .headerBackground {
        @apply h-[1000px];
    }

    .headerBackground::before,
    .headerBackground::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 10vw;
        height: 100%;
        background: linear-gradient(to right,#232426,transparent);
        z-index: 1;
    }

    .headerBackground::after {
        right: 0;
        left: auto;
        background: linear-gradient(to left,#232426,transparent);
    }
}
